<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Compilation of all the articles Lucas wrote about the development of Papers, pleaes">
  <meta name="author" content="Lucas Pope">
  <title>Papers, please · The devlog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- Favicons -->
  <link rel="icon" type="image/png" href="./assets/logo.png">s
  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="./assets/blog.css" rel="stylesheet">
</head>

<body>
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Papers, please · The devlog</h1>
        <p class="lead my-3">From November of 2012 to March of 2014, the incredible talented indie developer
          <a href="https://dukope.com/">Lucas Pope</a>
          was covering the development of his famous
          <a href="https://en.wikipedia.org/wiki/Papers,_Please">Papers, please</a>
          in an
          <a href="https://forums.tigsource.com/index.php?topic=29750.0">indie dev forum</a>.
        </p>

        <p class="lead my-3">
          This website is a compilation of all the articles Lucas wrote there.
        </p>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <% articles_month.each do |month, articles| %>
          <h3 class="pb-4 mb-4 fst-italic border-bottom" id="<%= month.gsub(" ", "") %>">
            <%= month %>...
          </h3>

          <% articles.each do |article| %>
            <article class="blog-post" id="<%= article[:id] %>">
              <h2 class="blog-post-title mb-1"><%= article[:date] %></h2>
              <p class="blog-post-meta">at <%= article[:time] %></p>
              <%= article[:content] %>
            </article>
          <% end %>
        <% end %>

      </div>
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Lucas Pope is an incredible talented indie gamedev. Analysing his work building Papers, please is an exercise for me to try to get into his mind,
            with the hope I can get some inspiration for my own game development endeavors. I built this scraper to read in a confortable way all the articles Lucas
            wrote on his devlog.</p>
          </div>
          <div class="p-4">
            <h4 class="fst-italic">Archive</h4>
            <ol class="list-unstyled mb-0">
              <% articles_month.each do |month, articles| %>
                <li><a href="#<%= month.gsub(" ", "") %>"><%= month %> (<%= articles.count %>)</a></li>
              <% end %>
            </ol>
          </div>
          <div class="p-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://store.steampowered.com/app/239030/Papers_Please/">Papers, please (steam)</a></li>
              <li><a href="https://dukope.com/">Lucas Pope's website</a></li>
              <li><a href="https://forums.tigsource.com/index.php?topic=29750.0">Original forum thread</a></li>
              <li><a href="https://github.com/fguillen/PapersPleaseDevlogScrap">This website's source code</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
        href="https://twitter.com/mdo">@mdo</a>. Website build by
        <a href="https://github.com/fguillen/PapersPleaseDevlogScrap">Fernando Guillen</a>.
        All rights reserved
      to <a href="https://dukope.com/">Lucas Pope</a></p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>
